@font-face{
   font-family: BTDFont;
   src: url(https://este6795.github.io/CSS/Fonts/LuckiestGuy-Regular.ttf)
 }
 

th, td { 
   border: 2px solid gray; 
} 
td{
   color:aqua;
}
iframe{
   width: 1200px;
   height: 800px;
   margin:auto
}
body{
   background-color:green;
}
h1{
   color:red; 
   font-family: BTDFont;
   text-align:center;
}
h2{
   color:pink;
   font-family: BTDFont;
   text-align:center;
}
h3{
   color:blue;
   font-family: BTDFont;
}
table{
   margin:auto;
}
ul{
   color:rgb(255, 0, 157); 
}
table img{
   height:100px; 
   display: block; 
   margin:auto;
}
p{
   color:white;
}