th, td { 
   border: 2px solid gray; 
} 
iframe{
  width:100%;
  max-width: 900px; /* Prevents it from getting too large */
  height: 600px;
  border: none;
}
body{
   background-color:green;
}
h1{
   color:red; 
}
h2{
   color:pink;
}
