body{
  background-color:purple; 
}
h1{
  color:green; 
  text-align:center;
}
th:hover{
  color:rgb(95, 82, 238); 
}
#Flash{
  color:red; 
}
img{
  height:100px; 
}
td, th { 
   border: 2px solid black;
   padding:15px; 
   background-color:rgb(128, 194, 128);
}
th{
  background-color:gray; 
  color:yellowgreen; 
  font-size:18px;
}
table{
  border-collapse: collapse;
}
table ul{
  color:yellow; 
}