h1{
  color:blue; 
}
th{
  background-color:gray; 
  color:red; 
}
th:hover{
  color:rgb(95, 82, 238); 
}
img{
  height:100px; 
}
th, td { 
   border: 2px solid black;
   padding:15px; 
   background-color:rgb(128, 194, 128);
   
}
table{
  border-collapse: collapse;
}