/* Apply a background color to the entire page */
body {
    background-color: #000000; /* Light blue custom color */
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Style for img elements */
img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    opacity: 0.9;
    filter: grayscale(50%);
}

/* Style for h1 elements */
h1 {
    color: hsl(210, 50%, 40%); /* Custom color using HSL */
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
/* Style for h2 elements */
h2 {
    color: hsl(210, 40%, 50%);
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

/* Style for h3 elements */
h3 {
    color: hsl(210, 30%, 60%);
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 15px;
    text-align: left;
}

/* Style for p elements */
p {
    color: #ffffff;
    font-size: 16px;
    margin: 10px 0;
    text-align: justify;
}

/* Style for table elements */
table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

table th, table td {
    border: 1px solid #21b9c4;
    padding: 10px;
    text-align: left;
    color: #ffffffe8;
}

table th {
    background-color: hsl(210, 50%, 30%);
    font-weight: bold;
    text-align: center;
}
section{
    margin: 20px;
    padding: 20px;
    background-color: hsl(210, 50%, 20%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.homebutton{
    width: 70px; 
}
.profilepic{
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;    
}
